In [19]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("random_daily_expenses.csv")

# Display first few rows
print("Initial DataFrame:")
print(df.head()) #first 5

Initial DataFrame:
         Date  Name       Category  Amount            Description
0  2025-10-05   Ali           Food   69.25           Food expense
1  2025-10-06  Sara     Healthcare   37.15     Healthcare expense
2  2025-10-14  Zara  Entertainment  137.78  Entertainment expense
3  2025-10-05  Mina           Food   77.81           Food expense
4  2025-10-21  Zara           Food  159.13           Food expense

In [20]:
# Find the maximum value in the 'Amount' column
max_amount = df["Amount"].max()
print("Maximum Amount:", max_amount)

Maximum Amount: 199.96

In [21]:
# Get the row corresponding to the max amount
max_row = df[df["Amount"] == max_amount]
print("Row with Maximum Amount:")
print(max_row)

Row with Maximum Amount:
          Date  Name   Category  Amount        Description
31  2025-10-08  Lina  Utilities  199.96  Utilities expense

In [22]:
# Create an empty list to store top spenders
highest_spenders = []

# Add first spender (the max row)
highest_spenders.append(max_row)

# Remove that spender from the DataFrame
df = df[df["Amount"] != max_amount]

print("Added first highest spender.")

Added first highest spender.

In [ ]:
# Repeat the process 4 more times
for _ in range(4):
    max_amount = df["Amount"].max()
    max_row = df[df["Amount"] == max_amount]
    highest_spenders.append(max_row)
    df = df[df["Amount"] != max_amount]

print("Top 5 highest spenders have been recorded.")

In [ ]:
print("Top 5 Highest Spenders:")
for i, spender in enumerate(highest_spenders, start=1):
    print(f"\nSpender {i}:")
    print(spender)

In [ ]:
# Concatenate all highest spender rows back into one DataFrame
top5_df = pd.concat(highest_spenders)

# Add them back into the original DataFrame
df = pd.concat([df, top5_df], ignore_index=True)

print("Spenders have been re-added to the DataFrame.")

In [ ]:
category_avg = df.groupby("Category")["Amount"].mean()
print("Average Price per Category:")
print(category_avg)

In [ ]:
# Map the average price to each row
df["AvgPricePerCategory"] = df["Category"].map(category_avg)
print("DataFrame with AvgPricePerCategory column added:")
print(df.head())

In [ ]:
# Save to new CSV
df.to_csv("updated_expenses.csv", index=False)

# Save to Excel
df.to_excel("updated_expenses.xlsx", index=False)

print("Files successfully written: updated_expenses.csv and updated_expenses.xlsx")